<h1>
  <%= @user.login %>
</h1>
<h3 class="text-muted"><%= @user.name %></h3>
<% if @user.avatar.attached? %>
<%= image_tag @user.avatar.variant(resize_to_limit: [300, 300]), alt: post.user.login %>
<% end %>
<%= render @posts %>
<%= paginate @posts %>
